@import "./vars/variables.scss";

.login-user_btn,
.your-claims-head_btn,
.claim-status_btn {
  background: #7db59a;
  width: 100%;
  height: 52px;
  padding: 8px 16px 8px 16px;
  border-radius: $baseBorderRadius;
  border: none;
  color: #ffffff;
  font-family: $baseFont;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.25px;
  display: flex;
  align-items: center;
  &:hover {
    background: #5b9479;
  }
  &:active {
    background: #4f896c;
  }
}
.your-claims-head_btn {
  width: 200px;
}

