@import "./vars/variables.scss";
.claims-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.claims-head_title {
  font-family: $baseFont;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin: 0%;
  margin-bottom: 40px;
  @media screen and (max-width: 800px) {
    font-size: 24px;
    display: inline-flex;
  }
}

.claims-block {
  margin: 0%;
  padding: 50px 40px 40px 60px;
  width: 94vw;
  height: 100%;
  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 10px 10px 10px 10px
  }
}
.create-new-claim-header {
  margin-bottom: 30px;
}

.your-claims-mobile-title {
  display: flex;
  justify-content: space-between;
}
.your-claims-mobile {
  width: 100%;
  padding: 20px 10px 20px 10px;
}
.opened {
  overflow-y: hidden;
}
.mobile-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  overflow-x: hidden;
}
.mobile-wrapper-opacity-background {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}
