.footer {
    background: #7DB59A;
    width: 100vw;
    height: 100vh;
    padding: 25px 0px 10px 30px;
    @media screen and (max-width: 800px) {
        height: 64px;
      }
      img {
        width: 40px;
      }
}