.login-img_wrapper {
  background-color: rgba(211, 237, 225, 0.97);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 130px 100px 130px;
  margin: 0%;
}
.login_img {
  width: 100%
}