.header-mobile {
    display: flex;
    justify-content: space-between;
    background: #7DB59A;
    height: 64px;
    align-items: center;
    padding: 10px 10px 10px 10px;
    position: sticky;
    top: 0%;
}